section{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    background-color:#5ee9fb;
}
body{
    text-align: center;
    background-color:skyblue;

    
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7RR_Wobml0XD6EsK75ARoyzH-UmkATLrheQ&s');
        background-repeat: repeat;

    

}
ul{
    display: inline;
    text-align: center;
    align-items: center;
    margin-right: 30px;
}
.facts{
    display: flex;
    margin-bottom: 20px;
}
img{
    max-height: 250px;
    margin-top: 20px;
}